<!DOCTYPE html>

<html lang="en">
<head>
    <title>Graduation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="container">
<!--navigation-->
<div class="navigation">
    <a href="index.html">Home</a>
    <a href="coursesOffered.html">Courses</a>
    <a href="profile.html">Profile</a>
    <a href="graduation.html">MyGraduation</a>

</div>
<div class="main">
    <h1 id="gradStatus">Checking Graduation Status......</h1>
    <table id="coursesTable">
        <thead>
        <tr>
            <th id="inv">invoice References</th>
        </tr>
        </thead>
    </table>
</div>

<script>
    const studentId =  localStorage.getItem('studentId');
    let invoiceRef = localStorage.getItem('invoiceRef');

    invoiceRef = invoiceRef ? JSON.parse(invoiceRef) : [];

    console.log("invoice after parsing is: " , invoiceRef);

    checkGraduationEligibility()

    function checkGraduationEligibility() {


        if(Array.isArray(invoiceRef) && invoiceRef.length > 0) {

            console.log("entered if");

            fetch(`/accounts/student/${studentId}`)
                .then(response => response.json())
                .then(data => {

                        const balance = data.hasOutstandingBalance;

                        //const invoiceReferences = JSON.parse(invoiceRef);
                        if (balance) {

                            //simulate server response
                            setTimeout(() => {

                                const table = document.getElementById('coursesTable');

                                invoiceRef.forEach(invoice => {

                                    fetch(`/invoices/reference/${invoice}`,{
                                        method: 'GET',
                                        headers: { 'Content-Type': 'application/json'}
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            const status = data.status;
                                            if (status==="OUTSTANDING") {
                                                table.innerHTML += `
                            <tr>
                            <td>${invoice}</td>
                            <td><button class="enrollButton" onclick="payInvoice()">Pay</button></td>
                            </tr>
                            `
                                                document.getElementById('gradStatus').textContent =""+
                                                    'Sorry you are not eligible for Graduation. Pay the following invoices to become eligible';
                                            }
                                        })
                                })

                            }, 3000);

                        }
                        else{
                            eligibleStudent()
                        }

                });
        }
        else{
            document.getElementById('gradStatus').textContent ="" +
                "Looks like haven't enrolled in any courses Yet!";
        }
        }

    function eligibleStudent() {
        document.getElementById('gradStatus').textContent ="" +
            "Your Graduation Status";
        document.getElementById('inv').textContent ="" +
            "You are eligible for Graduation!";
    }
    function payInvoice() {
        window.open('http://localhost:8081/portal', '_blank');

    }


</script>
</body>
</html>