<!DOCTYPE html>

<html lang="en">
<head>
    <title>Graduation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="container">
<!--navigation-->
<div class="navigation">
    <a href="index.html">Home</a>
    <a href="coursesOffered.html">Courses</a>
    <a href="profile.html">Profile</a>
    <a href="graduation.html">MyGraduation</a>

</div>
<div class="main">
    <h1 id="gradStatus">Checking Graduation Status......</h1>
    <table id="coursesTable">
        <thead>
        <tr>
            <th id="inv">invoice References</th>
        </tr>
        </thead>
    </table>
</div>


<script>
    const studentId =  localStorage.getItem('studentId');
    const invoiceRef = localStorage.getItem('invoiceRef'|| '[]');

    checkGraduationEligibility()

    function checkGraduationEligibility() {

        console.log("invoice " + invoiceRef);
        if(!invoiceRef || invoiceRef.length !== 0) {

            fetch(`/accounts/student/${studentId}`)
                .then(response => response.json())
                .then(data => {

                        const balance = data.hasOutstandingBalance;
                        const invoiceReferences = JSON.parse(invoiceRef);

                        if (balance) {
                            //simulate server response
                            setTimeout(() => {
                                const table = document.getElementById('coursesTable');
                                invoiceReferences.forEach(invoice => {
                                    fetch(`/invoices/reference/${invoice}`,{
                                        method: 'GET',
                                        headers: { 'Content-Type': 'application/json'}
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            const status = data.status;
                                            if (status==="OUTSTANDING") {
                                                table.innerHTML += `
                            <tr>
                            <td>${invoice}</td>
                            <td><button class="enrollButton" onclick="payInvoice()">Pay</button></td>
                            </tr>
                            `
                                                document.getElementById('gradStatus').textContent =""+
                                                    'Sorry you are not eligible for Graduation. Pay the following invoices to become eligible';
                                            }
                                        })
                                })

                            }, 3000);

                        }
                        else{
                            eligibleStudent()
                        }

                });
        }
        else{
            document.getElementById('gradStatus').textContent ="" +
                "Looks like haven't enrolled Yet!";
        }
        }

    function eligibleStudent() {
        document.getElementById('gradStatus').textContent ="" +
            "Your Graduation Status";
        document.getElementById('inv').textContent ="" +
            "You are eligible for Graduation!";
    }
    function payInvoice() {
        window.open('http://localhost:8081/portal', '_blank');
        // fetch(`/invoices/${invoice}/pay`,{
        //     method: 'PUT',
        //     headers: { 'Content-Type': 'application/json' }
        // })
        //     .then(response =>{
        //         if (response.ok) {
        //             alert("Payment Successful");
        //         }
        //     });
    }

</script>
</body>
</html>