<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Student!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!--navigation-->
<div class="navigation">
    <a href="index.html">Home</a>
    <a href="coursesoffered.html">Courses</a>
    <a href="profile.html">Profile</a>
    <a href="graduation.html">MyGraduation</a>
    <a href="about.html">About</a>

</div>

<div class="main">
    <h1 id="welcomeMessage">Welcome, Student</h1>
    <h1>Course Enrolled in</h1>
    <table id="courseEnrolledIn">

        <thead>
        <tr>
            <th>CourseID</th>
            <th>CourseTitle</th>
            <th>CourseFee</th>
            <th>CourseDescription</th>
        </tr>
        </thead>
    </table>
</div>

<script>

    studentId = localStorage.getItem('studentId');
    console.log("we got"+ studentId);

    //fetch course enrolled
    fetch(`/courses/${studentId}`)
    .then(response => response.json())
    .then(courses => {
        const table = document.getElementById('courseEnrolledIn');
        courses.forEach(course => {
            table.innerHTML +=`
            <tr>
                <td>${course.courseId}</td>
                <td>${course.title}</td>
                <td>${course.fee}</td>
                <td>${course.description}</td>
            </tr>
            `
        })
    });

    document.addEventListener('DOMContentLoaded', async () => {
        const response = await fetch(`student/${studentId}`);
        if (response.ok) {
            const user = await response.json();
            localStorage.setItem('email', user.email);
            localStorage.setItem('studentId', user.studentId);
            localStorage.setItem('firstName', user.firstName);
            localStorage.setItem('lastName', user.lastName);
            renderStudentDashboard(user);
        }
        else{
            console.log("no email yet");
        }
    });

    function renderStudentDashboard(user) {
        document.getElementById('welcomeMessage').textContent =
            `Welcome ${user.firstName}!`;
    }

</script>


</body>
</html>